.comment
  display flex
  
  .right-container
    display inline-block
    margin 0 15px

    .channel-name
      font-size 1.1rem
      margin-bottom 5px
    .message
      font-size 0.8rem

  .elapsed-time
    font-size 0.7rem
    color $dark-gray
