.stream-list
  display flex
  flex-wrap wrap

  .stream-card
    margin 10px
    min-width 230px

  &.horizontal
    display block

    .stream-card
      flex 1 !important
      width 100% !important
