.stream-card
  position relative
  color black
  transition all 0.3s ease

  p
    margin 4px 0

  .thumbnail-wrapper
    border-radius 3px
    overflow hidden
    height 160px
    background black
    position relative
    max-width 230px

    img
      width 100%

  .duration
    position absolute
    bottom 3px
    right 3px
    color rgba(255, 255, 255, 0.6)
    margin 0
    font-size 0.7em

  .title
    margin-top 10px
    font-weight 400
    color black
    font-size 1.1em

  .author
    color #aaa
    font-size 0.8em

  &:hover
    transform scale(1.03)

    .title
      text-decoration underline

  &.horizontal
    display flex
    align-items center

    .thumbnail-wrapper
      margin-right 10px
      background black
      height 160px
      flex-shrink 0
      flex-basis 284px
