.stream-card
  position relative

  img
    width 100%

  .thumbnail-wrapper
    border-radius 3px
    overflow hidden

  .information-wrapper
    .title
      font-weight 400
      font-size 0.9rem

    .description
      font-size 0.7rem
      color $light-gray
      overflow hidden
      text-overflow ellipsis // this ellipsis won't work for some reason
      line-height 0.7rem
      max-height 1.4rem // line-height * #-lines

    .author
      font-size 0.65rem

  // Horizontal layout for the card
  &.horizontal
    .thumbnail-wrapper
      display inline-block
      width 33%

    .information-wrapper
      display inline-block
      position absolute
      top 5px
      margin-left 15px

      .title
        font-size 1.3rem
      .description
        font-size 1.0rem
        line-height 1.0rem
        max-height 2.0rem
        margin-top 8px
