.channel
  .top-wrapper
    height 100px
    margin 20px 30px
    position relative

    span
      position absolute

      &.left
        left 0
      &.right
        right 0

  .bottom-wrapper
    margin 0 auto
    width 700px
