.channel-badge
  display inline-block
  .thumbnail-wrapper
    display inline-block
    float left
    .thumbnail
      border-radius 50%
  .information-wrapper
    display inline-block
    margin-left 15px
    float right

    .channel-name
      font-size 1.3rem
    .channel-bio
      font-size 0.8rem
      color $light-gray
