sidebar-width = 90px

.draw-view
  position relative
  background darken(rgb(33, 37, 43), 30%)
  height calc(100vh - 100px)
  display flex
  align-items center

  .recording-notice, .recording-error
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    width 100%
    max-width 450px

  .drawing-sidebar
    width sidebar-width
    position relative
    z-index 2

  .draw-container
    flex-grow 1
    display flex
    justify-content space-around
    position relative
    z-index 1

    > div
      flex 1
      position relative

  .mouse-drawing-handler
    cursor crosshair

    .click-zone
      position absolute
      user-select none
      top 0
      left 0
      height 100%
      width 100%

    svg
      height 100%
      width 100%
      pointer-events none
