.draw-view
  position relative
  background rgb(33, 37, 43)

  .mouse-drawing-handler
    cursor crosshair
    position absolute
    top 0
    width 100vw
    height (100 * 1080/1920)vw

    .click-zone
      position absolute
      user-select none
      top 0
      left 0
      height 100%
      width 100%

    svg
      height 100%
      width 100%
      pointer-events none
