body
  font-family "Roboto"
  font-size 18px
  -webkit-font-smoothing: antialiased

a
  color $link-color
  text-decoration none

.subtle
  &, a
    color $subtle-color

  a
    text-decoration underline

.none
  @extend .subtle

  font-style italic
