site-width = 1000px
site-gutter = 20px

yellow = #ffd71e
blue = #57b8ff
green = #96ff57
purple = #de57ff
red = #ff5757
dark-gray = #7E7E7E
light-gray = #B4B4B4

link-color = blue
navigation-link-color = dark-gray

container()
  max-width site-width
  margin 0 auto
  padding 0 site-gutter
