.stream-details
  display flex
  align-items center
  margin 20px 0

  .basic-info
    margin-right 40px

  h1
    margin 0

  p
    line-height 1.5
    font-size 0.8em
    text-align justify

  > div:first-child
    flex 3

  > div:last-child
    flex 2
