.stream-player
  background rgb(33, 37, 43)
  border-radius 5px
  position relative
  overflow hidden

  .playback-controls
    position absolute
    bottom 0
    width auto
    left 0
    right 0
    opacity 0
    transform-style preserve-3d
    perspective 2000px

    &, .flip-container
      transform rotateX(45deg)
      transform-origin 50% 40px
      transition all 0.3s ease

  &.paused, &:hover
    .flip-container, .playback-controls
      transform rotateY(0deg)

    .playback-controls
      opacity 1

.stream-player:after
  position absolute
  display block
  content ' '
  top 65%
  left 50%
  width 50px
  height 50px
  background url('../images/loader.svg')
  animation 1.5s linear infinite forwards rotate
  transition all 0.5s ease-in
  opacity 0

.container.loading .stream-player:after
  opacity 1
  top 50%

@keyframes rotate {
  from {
    transform translate(-50%, -50%) rotate(0deg)
  }
  to {
    transform translate(-50%, -50%) rotate(360deg)
  }
}
