.login
  .login-split
    display flex

    > div
      flex 1
      color $dark-gray

      &:first-child
        margin-right 30px

      &:last-child
        margin-top 50px

        p
          margin-bottom 30px

  form
    max-width 520px
    margin 0 auto

  .subtle
    text-align center
