.topic-card
  padding 30px 8px
  text-align center
  border-radius 2px
  border 1px solid $blue
  transition all 0.2s ease

  &:hover
    background $blue
    border-color $blue
    color white

  .topic-thumbnail
    position relative

    img
      position: absolute;
      top: 50%;
      transform: translateY(-55%);

  .title-wrapper
    .title
      font-size 1.2rem
