.topic-card
  padding 8px
  background-color $subtle-gray
  border-radius 2px

  .topic-thumbnail
    position relative

    img
      position: absolute;
      top: 50%;
      transform: translateY(-55%);

  .title-wrapper
    .title
      font-size 1.2rem
