.color-picker
  size = 40px

  display flex
  flex-direction column
  justify-content center

  .color-well
    height size
    width size
    border-radius 50%
    margin-bottom 10px
    cursor pointer
    transition all 0.2s ease
    border 3px solid transparent
    opacity 0.4
    transition all 0.2s ease

    &:last-child
      margin-bottom 0

    &:hover
      transform scale(1.1)

    &.selected
      transform scale(1.2)

    &.selected
      border-color white
      opacity 1

  &.disabled
    pointer-events none

  &:hover .color-well
    opacity 1
    animation none
