nav-link-padding = 30px 40px

nav[role='main']
  ul
    list-style none
    display flex
    align-items center

  li:not(.profile-preview)
    a
      padding nav-link-padding
      color $navigation-link-color
      font-weight 400
      position relative

      &, &:after
        transition all 0.2s ease

    a:after
      content ' '
      display block
      position absolute
      border-radius 1px
      left nav-link-padding[1]
      right nav-link-padding[1]
      bottom (nav-link-padding[0] - 4px)
      height 2px
      background $link-color
      transform scaleX(0)

    a:hover, a.active
      color darken($navigation-link-color, 50%)

      &:after
        transform scaleY(1)

  .profile-preview
    padding 0 nav-link-padding
    position relative
    height 0

    .profile-link
      color black
      display block
      font-size 1.3rem
      margin 0
      transition color 0.2s

      &:hover
        color $navigation-link-color
        cursor pointer

    a
      font-size 0.8rem
