.stream-card
  display inline-block
  
  .information-wrapper
    .title
      font-weight 400
      font-size 0.9rem
    .description
      font-size 0.7rem
      color $light-gray
      overflow hidden
      text-overflow ellipsis // this ellipsis won't work for some reason
      line-height 0.7rem
      max-height 1.4rem // line-height * #-lines
