.profile-preview
  position relative
  perspective 1000px
  perspective-origin 0px

  .profile-link
    color black
    display block
    margin 0

  header
    display flex
    align-items center
    border-bottom 1px solid #eee
    padding-bottom 15px

    .profile-image
      size 60px

    .details
      margin-left 15px

      h1, p
        margin 3px 0

      h1
        font-size 1.2rem
        color black
        font-weight normal

      p
        font-size 0.9rem

        a
          display inline

          &:hover
            border-bottom 1px solid #ccc
