.drawing-sidebar
  display flex
  align-items center
  justify-content center
  flex-direction column

  .sidebar-button
    width 45px
    height 45px
    border-radius 50%
    background rgba(255, 255, 255, 0.2)
    cursor pointer

  .undo-button
    margin-top 20px
    background-image url('../images/undo-button.svg')
    background-position center center
    background-repeat no-repeat
