.drawing-sidebar
  display flex
  align-items center
  justify-content center
  flex-direction column

  .sidebar-button
    width 45px
    height 45px
    border-radius 50%
    background rgba(255, 255, 255, 0.2)
    cursor pointer

    &.disabled
      opacity 0.2
      cursor not-allowed

  .undo-button, .clear-button
    margin-top 20px
    background-position center center
    background-repeat no-repeat

  .undo-button
    background-image url('../images/undo-button.svg')

  .clear-button
    background-image url('../images/clear-button.svg')

.rc-tooltip-inner
  min-height 0px !important
