.horizontal-field
  display flex
  align-items center
  cursor pointer

  *
    cursor pointer

  label
    flex 1

  p
    margin 2px 0

  input
    margin-right 8px

  .description
    font-size 0.8em
    color $dark-gray
