.password-strength-indicator
  height 4px
  display flex
  margin 4px 0

  .strength-bar
    width 25%
    height 4px
    display block
    border-radius 2px
    background $subtle-gray
    transition all 0.3s ease

    &:not(:last-child):not(:first-child)
      margin 0 2px

  &.score-1, &.score-2
    .strength-bar.filled
      background: $red

  &.score-3, &.score-4
    .strength-bar.filled
      background: darken($green, 40%)
