main
  min-height 70vh

footer[role="main"]
  background #21252b
  color #aaa
  border-top 6px solid $blue
  margin-top 100px

  p
    margin 10px 0
    line-height 1.2

  .container
    padding 30px 0 30px 80px
    box-sizing border-box
    max-width 600px

    background url('../images/footer-bg.svg') no-repeat left center
