.button
  display inline-block
  padding 10px 0
  min-width 200px
  margin 5px 0
  width 100%
  border-radius 2px
  cursor pointer
  text-align center
  font-weight 1200
  color white
  background $button-color
  transition all 0.15s ease
  user-select none
  appearance none
  border none

  &:active, &:focus
    background darken($button-color, 10%)

  &:focus
    outline 0
    transform scale(1.03)
    box-shadow $active-field-box-shadow

  &:disabled, &.disabled
    background desaturate($button-color, 100%)
    opacity 0.7
    cursor not-allowed

    &.-record
      background desaturate($record-color, 100%)

  &.-small
    font-size 0.7em
    display inline
    text-transform uppercase
    padding 5px 14px
    font-weight 500
    border 1px solid transparent

  &.-subtle
    background #aaa
    border-color #666

  &.-record
    background $record-color
