@import 'recording'

header[role='main']
  .container
    display flex
    align-items center
    justify-content space-between

  img:first-child
    width (image-size('../../images/header-logo.png')[0] / 2)

  img:last-child
    width (image-size('../../images/header-logo-text.png')[0] / 2)
