.me
  .form-block
    display flex
    align-items center
    margin-bottom 40px

    .single-dropzone
      position relative
      top 10px

    .form-row:first-of-type
      margin-top 0

    .form-row:last-of-type
      margin-bottom 0

    > div:last-child
      flex 1
      margin-left 20px
