.user-card
  display flex
  align-items center

  .profile-image
    flex-shrink 0
    margin-right 10px

  a.profile-link
    font-weight 500
    color black
    border-bottom 1px solid transparent
    transition all 0.3s ease
    margin 0 0 8px 0
    display block

  &:hover a.profile-link
      border-color #ccc
