.publish-stream-view
  .container
    display flex
    align-items center

    .preview
      width 100%
      max-width 500px
      margin-right 20px
      height auto
      flex-shrink 0
      border-radius 5px

    > div
      flex 1
